extends base.pug

mixin displayMod(mod)
  - const version = mod.getBestVersion();
  - const versionText = `${version} (${version?.formattedSize})`;
  - const lastUpdated = mod.lastUpdated?.toLocaleString("en-US", {timeZone: "UTC"});
  .mod
    div
      .name= mod.name
        if (version)
          span= versionText
      .description= mod.description
      a(href=`/view/${mod.id}`) View mod page
      span= `Last updated: ${lastUpdated ? lastUpdated + " (UTC)" : "never"}`
    if (mod.versions.length > 0 && version !== mod.versions[0])
      .version.unstable
        a.button(href=mod.versions[0].downloadURL)
          button.download.alternative Unstable
        a.button(href=mod.versions[0].installURL)
          button.install.alternative Install
    if (version)
      .version
        a.button(href=mod.downloadURL)
          button.download Release
        a.button(href=mod.installURL)
          button.install Install

mixin sortButtons
  - const methodNames = { new: "Last updated", alpha: "Name (A-Z)" };
  .buttonBar
    - for (const method of ["new", "alpha"])
      - const selClass = method == sortMethod ? " selected" : "";
      a.button(href=`/?sort=${method}`)
        button(class=`sort-${method}${selClass}`)= methodNames[method]

block body
  .double
    h2#modlist My mods
    .sort Sort by: 
      +sortButtons()
  .modList
    - for (const mod of mods)
      +displayMod(mod)